<div class="card-body">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Company</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>GST</th>
                <th>Add To Cart Here</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let product of products'>
                <td>{{product.pid}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.company}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.gst}}</td>
                <td>
                    <div>
                        <button type="button"  (click)='clicked(product)'>Add To Cart</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="card-body">
    <button type="button"  class="float-right" (click)=getBill()>Get Bill</button>
</div>
<div class="card-body" *ngIf='returnedOrderDetails'>
    <h1>You have ordered {{numOfProducts}} products</h1>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Order Id</th>
                <th>Total Price</th>
                <th>Total Price With Gst</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{returnedOrderDetails.oid}}</td>
                <td>{{returnedOrderDetails.total_Price}}</td>
                <td>{{returnedOrderDetails.total_Price_With_Gst}}</td>
            </tr>
        </tbody>
    </table>


